/*FOOTER*/

#footer {
    background: #747474;
    color: white;
    padding: 20px 0;

}

#footer .row h5 {
    text-transform: uppercase;
    border-bottom: 1.5px dotted white;
}

#footer .row ul {
    list-style: none;
    line-height: 2em;
    padding: 0;
    margin-top: 0;
}

#footer .row form {
    margin-top: 30px;
}

#footer .row form > input {
    padding: 5px;
}

#footer .row form > button {
    padding: 7px;
    margin: 5px 0;
    color: white;
    background: red;
    border: 0;
}

#footer .row form > button:hover {
    cursor: pointer;
}

#footer .row form > button.red-submit {
    background-color: red;
    border: 1px solid #fff;
}

#footer .row form > button.red-submit:hover {
    background-color: #747474;
    border: 1px solid #fff;
}

#main-footer {
    background: #f8f9fa;
    color: red;
}

#main-footer .row h4 > a.fab {
    font-size: 26px;
    color: red;
    padding: 10px 5px 0 5px;
    text-decoration: none;
}

#main-footer .row h4 > a.fab:hover {
    color: #747474;
}

/* //FOOTER*/

/*TOP NAV*/

section.top-nav .navbar-light .navbar-nav .nav-link.active {
    color: #FE6C08;
    font-weight: 600;
    border-bottom: 3px solid #FE6C08;

}

.slider100 .carousel-inner {

    height: 310px;
}

.title-search1 {
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.75);
    padding-left: 0;
}

.banner100 .carousel-caption {
    position: absolute;
    top: 0;
    left: 20px;
    text-align: center;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.podnaslov {

    font-size: 24px;
}

.raspon input {

    display: block;
}

.main-search {
    margin-top: 20px;
}

.main-search button {

    margin-top: 7px;
}

.banner100 .carousel-caption span {

    text-shadow: none;
}

.banner100 .carousel-caption span {

    text-shadow: 1px 2px rgba(0, 0, 0, 0.75);
}

.banner100 .carousel-caption .input-group span {

    text-shadow: none;
}

.banner100 > img {
    width: 100%;
    height: auto;
}



.main-search input,
.input-group-append > span,
.main-search button,
.main-search select {

    border-radius: 0;

}

.main-search button {

    background-color: #FE6C08;
    color: #fff;
    border: 1px solid #fff;
}

.main-search button:hover {

    background-color: red;
    color: #fff;
    border: 1px solid red;
}

#slider-ponude .carousel-indicators li {

    width: 150px;
    height: 75px;
    opacity: 0.5;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.75);
    border: 1px solid #fff;
}

#slider-ponude ol.carousel-indicators > li.active {

    opacity: 1;
}


[data-target="#slider-ponude"] {
    padding: 0;
}


[data-target="#slider-ponude"] > img {

    width: 150px;
    height: 75px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

#slider-ponude .carousel-inner {

    max-width: 600px;
    min-height: 300px;
}

#slider-ponude .carousel-indicators {

    top: 101%;
}

.promocija {
    margin-top: 0;

}

.promocija .najnovije p {

    /* margin: 10px auto; */
    color: #ff6d00;
    font-weight: 600;

}

.promocija .najnovije {

    background-color: rgba(255, 109, 0, 0.3);
    /* margin-bottom: 15px; */
    margin: 0;

}

#slider-ponude .carousel-caption {

    left: 10px;
    right: auto;
    padding: 6px;
    text-align: left;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 109, 0, 0.3);

}

#slider-ponude .carousel-caption p {

    margin-bottom: 0;
}

.detaljna-pretraga {

    margin-top: 20px;
}

.detaljna-pretraga .row h4 {
    padding-left: 15px;
}


.poslednjih-4-oglasa {

    margin: 0;
}

.top-nav .navbar-light .navbar-nav .nav-link.reg-dugme:focus,
.top-nav .navbar-light .navbar-nav .nav-link.reg-dugme:hover {
    color: red;
}

.active-veza {
    color: red;
}

/* KONTAKT */

section.kontakt-info100 .mapa {

    padding: 0;
}

section.kontakt-info100 .mapa iframe {
    width: 100%;
    height: 100%;


}

section.kontakt-info100 .kontakt-generalno p {
    color: #FE6C08;
    font-size: 1.2rem;
    font-weight: 600;
}

section.kontakt-info100 {
    font-size: 1.2rem;
}

section.kontakt-info100 .zvezda {
    color: red;
}

section.kontakt-info100 {
    margin: 40px auto;
}

section.kontakt-info100 .info100 p {
    font-size: 1.2rem;
    color: #FE6C08;
    font-weight: 600;
}

section.kontakt-info100 .info-tel li {
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 1.6;
}

section.kontakt-info100 .info-tel li span {
    padding-right: 7px;
    font-size: 1.2rem;
}

section.kontakt-info100 .info-tel li span i {
    color: #ff6d00;
}

section.kontakt-info100 .kontakt-forme {
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
}

section.kontakt-info100 .omotac-info100 {
    margin-left: 0;
    margin-right: 0;
}

section.kontakt-info100 .posalji-dugme {
    background-color: #FE6C08;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 0;

}

section.kontakt-info100 .posalji-dugme:hover {
    background-color: red;
    border: 1px solid red;
    color: #fff;
    border-radius: 0;
}

section.kontakt-info100 .posalji-dugme:focus {

    box-shadow: 0;
}

/* end KONTAKT */

/* FILTER */

#pretrazi-filter-dugme {
    background-color: #FD6B0F;
    border: 1px solid #fff;
    border-radius: 0;
    width: 100%;
    height: auto;
}

#pretrazi-filter-dugme:hover {
    background-color: red;
}

/* end FILTER */

/* main Search */

.main-search .row .col-md-12:first-child {

    margin-bottom: 20px;
}

.detaljna-pretraga .row .col-md-12:first-child {

    margin-bottom: 21px;
}



/* end main Search */

@media only screen and (max-width:576px) {



    .banner100 .carousel-caption {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        text-shadow: 1px 2px rgba(0, 0, 0, 0.75);
        width: 100%;
        padding-top: 0;
    }

    #slider-ponude .carousel-indicators {

        bottom: 0;
        width: 100%;
        margin: 0;
    }

    #slider-ponude .carousel-inner {

        max-width: 100%;

    }

    #slider-ponude .carousel-inner .carousel-item {

        max-width: 100%;
        height: auto;
    }


    /* kontakt media col- */
    .kontakt-generalno p,
    .kontakt-info100,
    .info100 p,
    .info-tel li,
    .info-tel li span {

        font-size: 1rem;
    }

    .kontakt-generalno form {
        margin-bottom: 20px;
    }

    .kontakt-generalno input[type="email"] {
        width: 100%;
    }

    .banner100 > img {
        width: 100%;
        height: 100vh;

    }

    .raspon span {
        padding-left: 0;
    }


}

@media only screen and (max-width: 768px) {

    .banner100 .carousel-caption {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        text-shadow: 1px 2px rgba(0, 0, 0, 0.75);
        width: 100%;
        padding-top: 0;
    }

    .main-search button {

        margin: 0;

    }

    #slider-ponude .carousel-inner {

        max-width: 100%;

    }

    .main-search .input-group-text {

        padding-left: 5px;
        padding-right: 5px;
    }

    .detaljna-pretraga .input-group-text {

        padding-left: 5px;
        padding-right: 5px;
    }

}

@media only screen and (max-width: 992px) {

    .postavi-oglas {
        margin-top: 10px;
    }
}


/* O SAJTU*/

section.o_sajtu_pozadina {
    background: url('../img/slider.jpg');
    background-size: contain;

}

#o_sajtu img {
    height: 50vh;
    padding-top: 14px;
    padding-bottom: 14px;
}

#o_sajtu {
    padding: 20px 50px;
    position: relative;
}

#o_sajtu h1 {
    margin-bottom: 40px;

}

#o_sajtu .o_sajtu {
    padding-right: 15px;
    padding-left: 15px;
}

#o_sajtu .o_sajtu p {
    font-size: 18px;

}

#o_sajtu .img_osajtu {

    width: inherit;
    height: auto;
    padding: 0;
    margin: 7px auto 15px;

}

#o_sajtu .text-osajtu {

    color: #4d4d4e;


}

@media (max-width: 576px) {

    section#o_sajtu {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

    #o_sajtu .img_osajtu {

        width: inherit;
        height: 250px !important;
        padding: 0;
        margin: 7px auto 15px;

    }
}


/* MAIN */

section.thumbs .caption-main > p {
    width: 100%;
    padding: 10px;
    font-weight: 600;
}

section.thumbs .caption-main > h5 {
    margin: 4px auto 30px;
}

section.thumbs .thumbs-wrapper {
    cursor: pointer;
    color: #4d4d4d;
    font-weight: 400;
    text-decoration: none !important;
    display: block;
    max-width: 350px;
    margin: auto;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
}

section.thumbs .thumbs-wrapper:hover {
    -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 50px rgba (0, 0, 0, 0.06);
}

section.thumbs .img-box {
    margin: 0px;
    padding: 0px;
    position: relative;
}

section.thumbs .thumbs-wrapper img {
    margin-top: 5px;
    padding: 0 5px;
    width: 100%;
    height: auto;
}

section.thumbs .content-thumb .advertisement-ofre {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 15px;
    background: rgba(100, 100, 100, 0.6);
    padding: 2px 5px;
    float: left;
}

section.thumbs .content-thumb .price-ofre {
    position: absolute;
    background: red;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    padding: 3px 10px;
    margin-left: 15px;
    margin-top: -20px;
}

section.thumbs .content-thumb .surface-area {
    display: inline;
    float: left;
    font-size: 20px;
    margin: 25px 6px 5px;
    background: rgba(100, 100, 100, 0.6);
    border-radius: 3px;
    padding: 2px 5px;
}

section.thumbs #thumbimg {
    position: relative;
    padding: 0;
}

section.thumbs .block-title1 {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: rgba(100, 100, 100, 0.5);
    width: 100%;
    color: #fff;
}

section.thumbs .block-title1 h6 {
    margin-bottom: 0;
}

section.thumbs .between {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    margin-bottom: 4px;
}

section.thumbs .block-title1 .between > .text-right {
    background: red;
    padding: 7px 10px;
    margin-top: -10px;
    border-radius: 5px;
    margin-right: -10px;
}

section.thumbs .subimgTitle {
    background: rgba(100, 100, 100, 0.5);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

section.thumbs .content-thumb .number-of-rooms {
    display: inline;
    float: left;
    font-size: 20px;
    margin: 25px 6px 5px;
    background: rgba(100, 100, 100, 0.6);
    border-radius: 3px;
    padding: 2px 5px;
}

section.thumbs .content-thumb .condition-ofre {
    display: inline;
    float: left;
    font-size: 20px;
    margin: 25px 6px 5px;
    background: rgba(100, 100, 100, 0.6);
    border-radius: 3px;
    padding: 2px 5px;
}

@media only screen and (min-width: 768px) {
    section.thumbs .content-thumb .condition-ofre {
        margin: 1px 6px 5px;
    }
}

@media only screen and (min-width: 1024px) {
    section.thumbs .content-thumb .condition-ofre {
        margin: 25px 6px 5px;
    }
}

@media only screen and (max-width: 260px) {
    section.thumbs .content-thumb .condition-ofre {
        margin: 1px 6px 5px;
    }
}

section.thumbs .content-thumb .location-ofre {
    display: inline;
    float: left;
    font-size: 20px;
    margin: 1px 6px 5px;
    background: rgba(100, 100, 100, 0.6);
    border-radius: 3px;
    padding: 2px 5px;
}

section.thumbs .page-item {
    margin: 15px 0px;
}

section.thumbs .page-link {
    color: red;
}

section.thumbs .pagination li.numeros {
    font-size: 15px;
    border: 1px solid #dee2e6;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.thumbs .pagination li.numeros.active {
    background-color: rgba(100, 100, 100, 0.5);
    color: white;
    font-weight: bold;
}

/* // MAIN */

/*DETALJI PAGE*/

#detalji .row {
    margin-top: 20px;
}

#detalji h5 {
    margin-bottom: 0;
}

#detalji .ostale {
    margin-left: 20px;
}

#detalji img.detalji-baner {
    width: 100%;
}

#detalji .naslov {
    color: #FE6C08;
}

#detalji #trenutna {

    margin-bottom: 10px;
    padding: 0px;
}

#detalji hr {
    margin-top: 5px;
    border-top: 0.12em solid #FE6C08;
}

#detalji table .top-border {
    border-top: 0px;
}

#detalji .ostale {
    width: 80px;
    height: 60px;
    margin: 3px 0;
    border: 1px solid rgb(235, 122, 122);
    opacity: .6;

}

#detalji .ostale:hover {
    cursor: pointer;
    opacity: 1;
}

.breadcrumb a {

    color: #FE6C08;
}

.breadcrumb a:hover {
    color: orange;
    text-decoration: none;
}

.breadcrumb {
    border-radius: 0;
}

/* //DETALJI PAGE*/

/*SLIDER*/

#carouselExampleIndicators .carousel-item {
    height: 60vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#carouselExampleIndicators .carousel-item .carousel-caption {

    top: 20%;
}

#o_sajtu .background p span {
    font-size: 2em;
}


/* border custom */

.bottom-border-custom {

    padding: 15px;
    border-bottom: 1px solid #DBD4CE;


}

/* /border custom */

/* LAST AD */
section.last-ad #last-ad.row {
    margin: 0;
}

section.last-ad #last-ad {
    height: 100%;
}

section.last-ad #last-ad .carousel-indicators {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}


section.last-ad #last-ad .carousel-indicators li {

    text-indent: 5px;

}

section.last-ad #last-ad .carousel-indicators li span {

    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding-right: 5px;
    position: absolute;
    top: 10%;
    font-size: 0.85rem;
}


section.last-ad #last-ad .carousel-indicators li:nth-child(1) {

    background: url(../img/poslednji_oglasi7.jpeg) no-repeat top center;
    background-size: contain;

}

section.last-ad #last-ad .carousel-indicators li:nth-child(2) {

    background: url(../img/poslednji_oglasi2.jpeg) no-repeat top center;
    background-size: contain;

}

section.last-ad #last-ad .carousel-indicators li:nth-child(3) {

    background: url(../img/poslednji_oglasi3.jpeg) no-repeat top center;
    background-size: contain;

}

section.last-ad #last-ad .carousel-indicators li:nth-child(4) {

    background: url(../img/poslednji_oglasi4.jpeg) no-repeat top center;
    background-size: contain;

}

section.last-ad #last-ad .carousel-indicators li:nth-child(5) {

    background: url(../img/poslednji_oglasi5.jpeg) no-repeat top center;
    background-size: contain;

}

section.last-ad #last-ad .carousel-indicators li:nth-child(6) {

    background: url(../img/poslednji_oglasi6.jpeg) no-repeat top center;
    background-size: contain;

}

section.last-ad #last-ad .carousel-inner {

    position: relative;
}

section.last-ad #last-ad .carousel-indicators {

    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

}

section.last-ad #last-ad [class*="col-"] {

    padding: 0;

}

section.last-ad #last-ad .price-small {
    padding: 2px 5px;
    background-color: red;
    border-radius: 2px;
    color: #fff;
}

section.last-ad #last-ad .price-small-p {
    margin-bottom: 0;
}


section.last-ad #last-ad .carousel-indicators.col-md-2 li {

    background-size: cover;
    height: 90.2px;
    width: 230px;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    box-shadow: -3px 1px 3px rgba(0, 0, 0, 0.7);
}

section.last-ad #last-ad .carousel-indicators.col-md-2 li.active {

    opacity: 1;

}

section.last-ad #last-ad .carousel-caption {
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: left;
    padding: 8px;
}


section.last-ad #last-ad .carousel-control-next {
    width: 30px;
    height: 30px;
    top: 20px;
    left: 60px;
    background-color: rgba(0, 0, 0, 0.6);
}

section.last-ad #last-ad .carousel-control-prev {
    width: 30px;
    height: 30px;
    top: 20px;
    left: 20px;
    right: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

section.last-ad #last-ad .carousel-control-next-icon,
#last-ad .carousel-control-prev-icon {

    width: 20px;
    height: 20px;
}

section.last-ad .btn-orange {
    background-color: #FD6B0F;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    float: right;

}

section.last-ad .btn-orange:hover {
    background-color: red;
    border: 1px solid red;
}

section.last-ad .price-block {
    color: #fff;
    background-color: red;
    padding: 6px 9px;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 10px;
}

section.last-ad .price-control {
    color: red;
}

section.last-ad .text-grad-ulica {

    float: left;
    padding-top: 4px;
}

section.last-ad h5.bottom-border-custom {
    margin-bottom: 35px;
    margin-top: 4px;
}

@media (max-width: 576px) {


    section.last-ad .carousel-indicators {

        display: inline;
    }

    section.last-ad .carousel-indicators li {

        display: inline-block;
        float: left;
    }

    section.last-ad #last-ad .carousel-indicators li span {

        font-size: 0.7rem;
    }

    section.last-ad #last-ad.row {

        margin-left: -15px;
        margin-right: -15px;
    }

    section.last-ad .text-grad-ulica {

        font-size: 1.1rem;
    }

    section.last-ad #last-ad .price-small-p {

        font-size: 0.9rem;
    }

    section.last-ad .btn-orange {

        font-size: 0.7rem;
        padding: 3px;
        float: left;
        margin: 4px auto;

    }

    section.last-ad .carousel-caption.d-block.d-sm-none button {

        margin-left: 42%;
    }


    section.last-ad #carouselExampleIndicators .carousel-indicators {

        left: 18%;
    }


}

@media (max-width: 768px) {

    section.last-ad .carousel-indicators {

        display: inline;
    }

    section.last-ad .carousel-indicators li {

        display: inline-block;
        float: left;
    }

    section.last-ad .text-grad-ulica {

        font-size: 1.1rem;
        margin-top: 4px;
    }



}

@media (min-width: 576px) and (max-width: 768px) {

    section.last-ad #carouselExampleIndicators .carousel-indicators {

        left: 28%;
    }
}



@media (min-width: 768px) and (max-width: 992px) {

    section.last-ad #last-ad .carousel-indicators.col-md-2 li {

        background-size: cover;
        height: 56.1px;
        width: 230px;
        padding: 0;
        margin: 0;
        opacity: 0.5;
        box-shadow: -3px 1px 3px rgba(0, 0, 0, 0.7);
    }

}

@media (min-width: 992px) and (max-width: 1200px) {

    section.last-ad #last-ad .carousel-indicators.col-md-2 li {

        background-size: cover;
        height: 75.47px;
        width: 230px;
        padding: 0;
        margin: 0;
        opacity: 0.5;
        box-shadow: -3px 1px 3px rgba(0, 0, 0, 0.7);
    }

}

/* /LAST AD */

/* SLIDER TOP */

#carouselExampleIndicators .naslov-slidera-1 {

    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);

}

#carouselExampleIndicators .naslov-slidera-1 p {
    font-size: 1.2rem;
    font-weight: 600;
}


/* /SLIDER TOP */

/* ADMIN LOGIN - form */

.wrapper {
    background-color: #f1f1f1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

}

.wrapper1 {
    background-color: #f1f1f1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

}

#page-login {
    padding-top: 70px;

}

#page-login img {
    margin-bottom: 27px;
}

#page-login form,
#admin-form form {

    background-color: #fff;
    padding: 18px;
    box-shadow: 0 4px 32px rgba(125, 147, 178, .32);
}

#page-login .back-to-main {

    margin-top: 20px;
}

#page-login input,
#admin-form form input,
#admin-form form textarea {
    border-radius: 0;
}

#page-login input:focus,
#page-login button:focus,
#admin-form form button:focus,
#admin-form form input:focus,
#admin-form form textarea:focus {
    box-shadow: 0 0 0 0.15rem rgba(255, 109, 0, .25);
    border-color: #FF6D00;
}

#page-login button,
#admin-form form button {

    background-color: #FF6D00;
    border-color: #FF6D00;
    border-radius: 0;

}

#page-login button:hover,
#admin-form form button:hover {

    background-color: #E86400;
    border-color: #E86400;

}

#page-login p > a {

    color: #FF6D00;
}

#page-login p > a:hover {

    color: #a8a8a8;
}

#page-login button > a,
#page-login button > a:hover,
#admin-form form button > a,
#admin-form form button > a:hover {

    color: #fff;
}

#admin-form {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-admin-form {

    margin-bottom: 20px;
}

#ubacivanjeSlika > input:focus lable:focus {
    box-shadow: none;
    border: 0;
    border-radius: 0;
}


/* /ADMIN LOGIN - form */
